
@{
    ViewBag.Title = "DN";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/login/login1.css" />
 <div class="login-wrap">
        <div style="margin-top:40px" class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Đăng Nhập</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Đăng Ký</label>
            <div class="login-form">
                @using (Html.BeginForm("DN", "Use", new { url = ViewBag.url }, FormMethod.Post))
                {
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Tên đăng nhập</label>
                            <input id="user" type="text" class="input" name="TenDN" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Mật khẩu</label>
                            <input id="pass" type="password" class="input" data-type="password" name="PWDN" required>
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Nhớ mật khẩu</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Đăng nhập">
                        </div>
     
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </div>
                }
                @Html.Action("Register1","Use")
            </div>
        </div>
    </div>

@section scripts
{
    @if (ViewBag.ThongBao != null)
    {
        <script>
        $(function () {
                alert('@(ViewBag.ThongBao)');
        });
        </script>
    }
    
    }
    
